{% load i18n %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{% trans "Let Secrets Out" %} » {{ title }} » {% if tag %} {% trans "Tag" %} » {{ tag|escape }} » {% endif %}{% blocktrans %}Page {{ current_page }}{% endblocktrans %}</title>
  <link href="/css/main.css" type="text/css" rel="stylesheet"/>
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS" %}" href="{{ feed_link }}{% if tag %}{{ tag|urlencode }}{% endif %}" />
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
{{ HEAD }}
{{ config.BEFORE_HEAD_END }}
</head>
<body>
{% include "topbar.html" %}
<div id="wrap">
{% include "header.html" %}
<div id="content">
{% if secrets %}
{% for secret in secrets %}{% include "secret_item.html" %}{% endfor %}
{% else %}
<div class="notice">{% trans "No secrets available!" %}</div>
{% endif %}
<div class="navigation pages">
{% if prev %}<a href="/browse/{{ lang_path }}{{ prev }}" class="prev">{% trans "Previous Page" %}</a>{% endif %}
{% for page in nav_list %} {% ifequal page 0 %}...{% else %}{% ifequal page current_page %}{{ page }}{% else %}<a href="/browse/{{ lang_path }}{{ page }}" class="item">{{ page }}</a>{% endifequal %}{% endifequal %}{% endfor %}
{% if next %}<a href="/browse/{{ lang_path }}{{ next }}" class="next">{% trans "Next Page" %}</a>{% endif %}
</div>
{% if tag %}<div style="text-align:center"><a href="/tag/{{ language }}">{% blocktrans %}View the Tag Cloud of {{ title }}{% endblocktrans %}</a></div>{% endif %}
<div class="feed"><a href="{{ feed_link }}{% if tag %}{{ tag|urlencode }}{% endif %}"><img src="/img/rss.png" title="{% trans "RSS feed" %}"/> {% trans "RSS feed" %}</a></div>
<div class="navigation language">
{% trans "Browse secrets in other language:" %} {% ifequal language "all" %}{% trans "All" %}{% else %}<a href="/browse/all" class="item">{% trans "All" %}</a>{% endifequal %}{% for lang in config.VALID_LANGUAGES %} {% ifequal lang.0 language %}{{ lang.1 }}{% else %}<a href="/browse/{{ lang.0 }}" class="item">{{ lang.1 }}</a>{% endifequal %}{% endfor %}
</div>
</div>
{% include "footer.html" %}
</div>
{{ config.BEFORE_BODY_END }}
</body>
</html>
