{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block content %}
<h2><a name="secret">{% trans "What is a Secret?" %}</a></h2>
{% blocktrans %}
<p>By dictionary definition, a secret is something kept from the knowledge of others or shared only confidentially with a few. (Merriam-Webster Online Dictionary. 2009)</p>
<p>Generally, you could not tell people about something because you would feel ashamed, embarrassed, disgusting, stressed, depressed, and/or other emotional feelings. Or this something is kept inside a small group of people and no one would or are allowed to discuss with outsiders. You may be able to tell a few very close friend or family members</p>
{% endblocktrans %}

<h2><a name="post">{% trans "Do I have to post a secret? Can I just ask questions?" %}</a></h2>
{% blocktrans %}
<p>Yes, it must be a secret and it has to be relaed to you. You secret might also be your problem, that you need someone's advise. If you do need advises, please make sure the main body of your posting is THE SECRET, not your question.</p>
<p>Besides the secrets, it could also be a confession as long as you could not tell anyone else the things you have committed and those make you feel quilty.</p>
<p>More, please do not expect the advises from others and those will be wise.</p>
{% endblocktrans %}

<h2><a name="goodpost">{% trans "How to Post in a good way?" %}</a></h2>
{% blocktrans %}
<p>When you decide to post your secretss, all you want may not only the <i>posting</i>, you may also want get some feedbacks or find some people who have same situation as you do. If you just type your secret without care, readers may not be willing to read your words in mess. We do not have a guide for it, but here is what we have in mind:</p>
<ul>
  <li>Please try to calm down as much as you can. You may get very emotional while elaborating your secret.</li>
  <li>Try not use the writting method you have on Twitter, e.q. It's I've not Ive, it's I'm not Im. Do not rush, take your time to write a clear story. You will want more people to read your story, not get confused by your misspelling or grammar errors.</li>
  <li>Try not use punctuations in these ways: !!!!, ...., etc.</li>
  <li>Better not mention real names. It may not a good idea to mention names.</li>
  <li>Try not use f-word, or other inappropriate words for minors.</li>
  <li>Try not use explicit language. Many of secrets are involving sex, which are allowed to be posted on LSO, but the Internet is an open space, please try to be careful while you are writing your story.</li>
  <li>Do not fake story, imagine story, or manipulate the truth of your story, partially, or completely. You are anonymous, please be yourself and honest.</li>
  <li>Preview your secret before submitting.</li>
</ul>
{% endblocktrans %}

<h2><a name="comment">{% trans "How about Commenting?" %}</a></h2>
{% blocktrans %}
<p>The commenting system on LSO is <a href="http://disqus.com/">Disqus</a>, LSO do not have an internal commenting system. You can comment as anonymous, just do not log in. You can also use same Gravatar email address on Disqus system, or you can just use different account.</p>
{% endblocktrans %}

<h2><a name="gravatar">{% trans "What is Gravatar?" %}</a></h2>
{% blocktrans %}
<p>LSO uses <a href="http://en.gravatar.com/">Gravatar</a> (Globally Recognized Avatar) to enable secret posters some sort of pseudo-identity. With Gravatar, you can have your own avatar on your secrets, readers could recognize the posters but still do not know who you really are. Basically, you will need a Gravatar email (an email which you use to sign up on Gravatar website), but you do not need to reveal this email address to public but a <a href="http://en.wikipedia.org/wiki/Hash_function">hash</a> of it. It is impossible to know you email from the hash.</p>
<p>For example, the hash of <i>example@example.com</i> is <tt>23463b99b62a72f26ed677cc556c44e8</tt>, we only need the hash to get your avatar. As long as you have a secret email address which no one knows but you, no one would ever know you email address.</p>
<p>On LSO, while posting, you can pass the email address to LSO (We do not store it), then LSO would hash it and store the hash. This hash also allow to be used a key to search on LSO for secrets with same hash.</p>
<p>In order to use you Gravatar, you will be asked for Gravatar Check code. The code will be sent to the email address from LSO server, it is for preventing some people use others' Gravatar emails. It is an identification verifcation code.</p>
{% endblocktrans %}

<h2><a name="secretidtext">{% trans "What is Secret ID Text?" %}</a></h2>
{% blocktrans %}
<p>It is a text which only you know and LSO will generate a hash for that text, which can represent you. It is very similar to Gravatar's hash, the difference is it is generated by the text not an email address. You only need to enter this secret ID text to Gravatar email address field.</p>
<p>Please choose it wisely, it is stored in your browser's cookie, not on the server. LSO will never store your secret ID text to database, it is only processed in memory. Moreover, the hash is not genearated by your secret text but your text plus another secret text by LSO.</p>
{% endblocktrans %}

<h2><a name="flag">{% trans "What is Flag for?" %}</a></h2>
{% blocktrans %}
<p>You can flagging bad contents, Disqus also provides flagging. Note that it is <i>NOT FOR FLAGGING</i> the secret you <i>DO NOT LIKE</i>! Here is some concepts for flagging:</p>
<ul>
  <li>Spam</li>
  <li>Duplicated secrets</li>
  <li>Rude comments</li>
  <li>Or these <a href="/terms">disallowed contents</a></li>
</ul>
<p>Once a secrets get enough flags, it will be hidden.</p>
{% endblocktrans %}

{% comment %}
<h2><a name="language">{% trans "Where is My Language?" %}</a></h2>
{% blocktrans %}
<p>Please ask for the language you spoken at (TBD).</p>
{% endblocktrans %}
{% endcomment %}
{% endblock %}
