{% load i18n %}
{% get_available_languages as LANGUAGES %}
<div id="footer">
<div id="language-setter">
{% for lang in LANGUAGES %}<a href="{{ language_set_uri }}&language={{ lang.0 }}">{{ lang.1 }}</a>{% if not forloop.last %} &bull; {% endif %}{% endfor %}
</div>
<div class="nav">
<a href="http://j.mp/4mQnVg">{% trans "Chrome Extension" %}</a>
</div>
<div>
<div>
{% trans 'Let Secrets Out is created by <a href="http://j.mp/livibetter">Yu-Jie Lin</a>' %}
</div>
</div>
{{ config.after_footer }}
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
</div>
