{% load i18n %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{% trans "Let Secrets Out" %} » {% trans "Post your secrets anonymously and freely" %}</title>
  <meta name="description" content="{% trans 'Tell you secrets anonymously and freely, meet people who have similar experience, get help and help others.' %}"/>
  <meta name="keywords" content="{% trans 'secret, confess, confession, sharing, experience, post, discuss, bulletin, bulletin board' %}"/>
  <link href="/css/main.css" type="text/css" rel="stylesheet"/>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
{{ HEAD }}
{{ config.BEFORE_HEAD_END }}
</head>
<body>
{% include "topbar.html" %}
<div id="wrap">
{% include "header.html" %}
<div id="content">
<div id="secret-definition">{{ DEFS|random }}</div>
<div>
{% blocktrans %}Let Secrets Out ("LSO") is a place where you can post your secrets without revealing your true identity. You do not need to create an account to post a secret, in fact, you can not create one on LSO. You are forced to remain some degree of anonymity. You can also confess a sin you have committed or something.{% endblocktrans %}
</div>

<div id="random-secret">{% trans "Read this Random Secret" %}{% if secret %}{% blocktrans with secret.get_name as secret_name %} written by {{ secret_name }}{% endblocktrans %}{% endif %}</div>
{% if secret %}
{% include "secret_item.html" %}
{% else %}
<div class="notice">{% trans "No random secret available!" %}</div>
{% endif %}

</div>
{% include "footer.html" %}
</div>
{{ config.BEFORE_BODY_END }}
</body>
</html>
