{% load i18n %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
{% if secret %}
  <title>{{ secret.subject|truncatewords:"10"|escape }} « {% trans "Let Secrets Out" %}</title>
  <meta name="description" content="{{ secret.story|truncatewords:"10"|escape }}"/>
  <meta name="keywords" content="{% if secret.get_tags %}{% for tag in secret.get_tags %}{{ tag|escape }}, {% endfor %}{% endif %}secret"/>
{% else %}
  <title>{% trans "Let Secrets Out" %}</title>
{% endif %}
{{ HEAD }}
{{ config.BEFORE_HEAD_END }}
{% if config.DISQUS_ENABLED and secret %}
  <script type="text/javascript">
    var disqus_title = '{{ secret.subject|truncatewords:"10"|escape|addslashes }}';
    var disqus_url = '{{ config.BASE_URI }}{{ secret.key.id }}';
  </script>
{% endif %}
</head>
<body>
<div id="wrap">
{% include "header.html" %}
{% include "topbar.html" %}
<div id="content">
{% if secret %}{% include "secret_item.html" %}
<div style="text-align:center"><a href="/browse/{{ secret.language }}">View other secrets</a></div>
<div class="related_secrets">
<h2>Related Secrets</h2>
{% if related_secrets %}
<ul>
{% for s in related_secrets %}
<li><a href="/{{ s.key.id }}">{{ s.subject }}</a> posted by {% if s.name %}{{ s.name }}{% else %}{% trans "Anonymous" %}{% endif %} {{ s.published|timesince }} ago</li>
{% endfor %}
</ul>
{% else %}
<p>No related secrets found.</p>
{% endif %}
</div>
{% if config.DISQUS_ENABLED %}
<h2>Discussions</h2>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/lso/embed.js"></script><noscript><a href="http://disqus.com/forums/lso/?url=ref">{% trans "View the discussion thread." %}</a></noscript><a href="http://disqus.com" class="dsq-brlink">{% trans 'blog comments powered by <span class="logo-disqus">Disqus</span>' %}</a>{% endif %}
{% else %}
<div class="notice">{% trans "This secret is not available or not existing!" %}</div>
{% endif %}
</div>
{% include "footer.html" %}
</div>
{{ config.BEFORE_BODY_END }}
</body>
</html>
