body {
  font-family: "Times New Roman", Serif;
  }

h2,
h2 a[name] {
/*padding-top: 1em;*/
text-decoration: none;
}

h3,
h3 a[name] {
  color: #990000;
  text-decoration: none;
  }

a {
  font-weight: bold;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  color: #c23;
  }

a.uri {
  color: #66f;
  font-family: monospace;
  }

a img {
  border: none;
  }

img.right {
  float: right;
  padding: 5px;
  margin: 5px;
  border: 1px solid #e55c00;
  }

pre {
  margin: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  }

#wrap {
  width: 600px;
  margin: auto;
  text-align: center;
  }

#header>.title a {
  font-family: Times;
  color: #b22;
  }

#header>.title a:hover {
  text-decoration: none;
  }

.nav {
margin-bottom: 1em;
}

#footer .nav {
margin-top: 1em;
}

.nav a {
  font-family: Serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  text-shadow: #000 1px 1px 2px;
  color: #393;
  margin: 0 0.5em;
  }

.nav a:hover {
  text-shadow: #fff 0px 0px 2px;
  }

.nav a.highlight {
  color: #c33;
  }

.nav a.highlight:hover {
  color: #f00;
  text-shadow: #fff 0px 0px 2px;
  }

#content {
  text-align: left;
  margin: 10px auto;
  }

#footer {
  clear: both;
  margin-top: 1em;
  color: #777;
  font-family: Arial;
  font-size: 12px;
  padding-bottom: 1em;
  }

/* Jumper */

#jumper {
background-color: #c66;
-moz-border-radius: 0.5ex;
-webkit-border-radius: 0.5ex;
border-radius: 0.5ex;
clear: both;
color: #000;
margin-top: 1ex;
padding: 0.5ex;
text-align: center;
}
#jumper * {
color: #ccc;
}
#jumper.sticky {
-moz-border-radius: 0 0 0.5em 0.5em;
-webkit-border-radius: 0 0 0.5em 0.5em;
border-radius: 0 0 0.5em 0.5em;
margin-top: 0;
position: fixed;
top: 0;
z-index: 10000;
}

/* Topbar */

#topbar {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-family: Sans-serif;
  font-size: small;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  padding: 3px 3px 5px 5px;
  }

#topbar * {
  vertical-align: middle;
  }

#topbar a {
  font-weight: bold;
  }

/* AddThis */

div.addthis_toolbox {
  display: inline-block;
  }

/* Tag Cloud */
.tagcloud {
  text-align: center;
  }

.tagcloud a.tag {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 1px 1px 0 #fff;
  }

.tagcloud a.tag:hover {
  background-color: #f88;
  border: 1px solid #f00;
  color: #000;
  text-decoration: none;
  }

/* Navigation */

.navigation.pages {
  margin: 10px 0;
  text-align: center;
  }

.navigation.pages .prev {
float: left;
text-align: right;
width: 250px;
}

.navigation.pages .next {
float: right;
text-align: left;
width: 250px;
}
/* Secret */

.secret {
  clear: both;
  margin-top: 20px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.secret img.gravatar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  float: right;
  position: relative;
  left: 15px;
  top: -15px;
  z-index: 1000;
  opacity: 0.90;
  width: 48px;
  height: 48px;
  }

.secret a.gravatar:hover img.gravatar {
  border-color: #f88;
  }

.secret span.gravatar-hash {
  visibility: hidden;
  position: fixed;
  }

.secret .subject a {
  font-style: italic;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #000;
  }

.secret .story {
  clear: both;
  }

.secret .tags a.tag {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 1px 1px 0 #fff;
  }

.secret .tags a.tag:hover {
  background-color: #f88;
  border: 1px solid #f00;
  text-decoration: none;
  }

.secret .poster {
  float: right;
  font-style: italic;
  margin-bottom: 5px;
  }

.secret .poster .date {
  border-bottom: 1px dashed #000;
  }

.secret .stuff {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  clear: both;
  padding: 3px 3px 23px 3px;
  }

.secret .stuff .flag-button {
  float: left;
  }
.secret .stuff .flag-button a:hover {
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  }

.secret .stuff .flag-count {
  float: left;
  margin-right: 10px;
  }

.secret .stuff .delete-button {
  float: left;
  }

.secret .stuff .read-all-button {
  padding-left: 20px;
  float: right;
  }

.secret .stuff .disqus-comments-button {
  float: right;
  }

/* Miscellaneous */

#secret-definition {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  float: right;
  margin-bottom: 10px;
  }

#random-secret,
#recent-secrets {
  clear: both;
  }

#recent-secrets,
#recentcomments,
#popularthreads,
#topcommenters {
padding-top: 1em;
}

img.dsq-widget-avatar {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: 5px !important;
padding: 2px !important; 
opacity: 0.90;
}

a:hover img.dsq-widget-avatar {
border-color: #f88 !important;
}

.notice {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #488;
  width: 90%;
  margin: 10px auto;
  background-color: #fca;
  color: #800;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  }

a.info-pin, 
a.info-pin:hover {
  color: #484;
  text-decoration: none;
  }

/* Feed */
.feed {
  text-align: center;
  margin: 10px auto;
  }

.feed * {
  vertical-align: middle;
  }

/* Form */

div.field {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  }

div.field-name {
  float: left;
  width: 100px;
  color: #f40;
  font-weight: bold;
  font-family: Times;
  }

div.field-name.full {
  float: none;
  display: block;
  width: auto;
  }

div.counter {
  float: right;
  color: #0a0;
  font-weight: bold;
  font-family: Arial;
  }

div.field-value {
  float: right;
  width: 500px;
  }

div.field-value.full {
  clear: both;
  text-align: center;
  float: none;
  width: auto;
  }

#subject, #story, #tags {
  width: 580px;
  }

div.reCAPTCHA {
  float: left;
  }

div.buttons {
  text-align: center;
  }

div.buttons input.big {
  width: 200px;
  font-size: 24pt;
  }

#notice {
  clear: both;
  text-align: center;
  color: #f00;
  }

#preview > .secret {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 5px;
  }

.preview-header {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #0a0;
  font-family: Sans;
  }
